

<a href="#" class="lg:text-2xl
  md:px-5
  md:text-xl
  text-xs
  w-fit
  font-medium
  no-underline
  px-3
    py-3
    border
    border-solid
    border-white
    rounded-full
    uppercase">

REVIVE LA 2ᵃ EDICION
</a>