---
import Logo from "./Logo.astro";
---

<div  class="relative h-dvh w-full max-w-[100vw] md:aspect-video md:h-[80vh] xl:h-full">

    <div class="absolute inset-0 h-full justify-center z-10 m-auto flex flex-col items-center w-full">
    <section
    class="absolute z-10 animate-fade-up flex justify-center items-center gap-8 flex-col"
  >
    <h1
    class="flex items-center gap-5 text-4xl md:text-6xl lg:gap-20 lg:text-8xl font-tomaso"
  >
    <span>E</span>
    <span>S</span>
    <span>L</span>
    <Logo
      class="h-9 w-auto md:h-[3.75rem] lg:h-24 scale-150"
      aria-label="A"
    />
    <span>N</span>
    <span>D</span>
  </h1>
    </section>

    
<video class="w-full h-screen object-cover object-top animate-fade animate-duration-1000"
src="/video.mp4"
autoplay
loop
muted>  
</video>
<video class="absolute -botton-48 blur-3xl -z-40" src="/video.mp4" autoplay loop muted></video>
</div>
</div>